body{
    margin: 0;
    background-color: #fcfcfc;
}

.container{
    /* background-color: #35363a; */
    /* height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; */
    /* justify-content: center; */
    /* align-items: center; */
}

.row{
    background-color: white;
    height: 5vh;
    /* width: 100%; */
    /* margin: 1em; */
    /* border-radius: 84% 16% 84% 16% / 30% 72% 28% 70%;  */
}


.vip-row{

}

.row-detils{

}